body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url(https://cdn.pixabay.com/photo/2018/01/04/19/43/love-3061483_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  color: black;
}

// a {
//   font-size: x-large;
//   color: rgb(84, 197, 84);
//   padding-right: 30px;
//   font-weight: bold;
//   text-decoration: none;
// }

// a:hover {
//   color: #f0ed56;
// }

// #nav {
//   text-align: right;
// }

// #home {
//   margin-top: 200px;
//   text-align: center;
// }

// #pickUpLine {
//   text-align: center;
//   padding-top: 50px;
//   padding-bottom: 50px;

// }

// #feed {
//   display: flex;
//   justify-content: space-evenly;
// }

// #filter {
//   text-align: center;
// }

// #post {
//   text-align: center;
// }

// .user {
//   text-align: center;
//   padding-top: 100px;
//   font-size: large;
// }
