<h1>Editing Your Post</h1>
<a href="/feed/funny/best">Navigate to feed</a>

<form action="/post/edit/{{post._id}}" method="post">
  <label for="content">Your Post:</label>
  <input type="text" name="content" id="{{post._id}}" value="{{post.content}}">
  <button type="submit">Edit now!</button>
</form>