<div class="post-new">
  
  <form action="/new" method="post">
    <label for="content">Type Your Pick up Line Here:</label>
    <input id="new-line-input" type="text" name="content" id="content">

    <select name="category" id="category">
      <option value="funny">Funny</option>
      <option value="tinder">Tinder</option>
      <option value="cute">Cute</option>
      <option value="smart">Smart</option>
    </select>
    <button type="submit">Post a New Pickup Line</button>
  </form>
  <a href="/feed/funny/best">Navigate back to Feed</a>
</div>