<h1><a href="">Best</a></h1>
<h1><a href="">New</a></h1>
<h3><a href="/new">Post new Pickup Line</a></h3>

{{#each post}}
<div>
  <h1>{{content}}</h1>
  <a href="">{{userid.username}}</a>
  <a href="">Comments</a>
</div>

{{/each}}