<div id="home">
  <h1>Welcome to Pickup-Blinders</h1>
  <h2>Please Log in your Profile</h2>
  <a href="/auth/login">Login</a>
  <h2>Vote, post and check the best pickup lines on the Internet</h2>
</div>

