<h1>I am Here</h1>

<form action="/new" method="post">
  <label for="content">Content:</label>
  <input type="text" name="content" id="content">
  
  <select name="category" id="category">
    <option value="funny">Funny</option>
    <option value="tinder">Tinder</option>
  </select>

  <button type="submit">Post a New Pickup Line</button>
</form>